<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ervic.mac.gobvalle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MasInformacion"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".Principal.Pagos"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".Principal.Registrarse"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".Principal.Solicitar"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".Principal.Consultar"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".Principal.Cancelar"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".Principal.Reprogramar"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".WebView"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".TESTDRAWER"
            android:label="@string/title_activity_testdrawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>